* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.5s; 
}

nav ul li a:hover::after { 
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    user-select: none;
    
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

/* About Me */

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    padding-left: 50px;
}

.sub-title {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s; 
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* Portfolio */

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s; 
    cursor: pointer;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1); 
}

.work:hover .layer {
    height: 100%;
}


/* Contact */

#contact {
    padding: 80px 0; 
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    background: transparent;
    border: 0;
    outline: none;
    background: #262626;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.btn2 {
    padding: 14px 50px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: transparent;
    border: 2px solid #ff004f;
    border-radius: 6px;
    transition: color 0.3s, background-color 0.3s;
    display: inline-block; 
    text-decoration: none; 
}

.btn2 span {
    margin-right: 10px;
}

.btn2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ff004f;
    transition: width 0.3s ease-in-out;
}

.btn2:hover::after {
    width: 0;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents.active-tab {
    display: block;
}




@media only screen and (max-width: 768px) {
    .contact-left,
    .contact-right {
        flex-basis: 100%; 
    }
}


/* scrollbar */
::-moz-scrollbar {
    width: 12px;
}


::-moz-scrollbar-track {
    background: #080808; 
}


::-moz-scrollbar-thumb {
    background: #ff004f; 
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #080808; 
}


::-webkit-scrollbar-thumb {
    background: #ff004f; 
}


::-webkit-scrollbar-thumb:hover {
    background: #d10037; 
}


scrollbar {
    width: 12px;
}


scrollbar-track {
    background: #080808; 
}


scrollbar-thumb {
    background: #ff004f; 
}


scrollbar-thumb:hover {
    background: #d10037; 
}